{% extends 'layouts/base.html' %}

{% block content %}
                        <form>
                            <div class = "form-group">
                                <div class="alert alert-danger mt-5" role="alert">Во прикол! Ошибочка!</div>
                                <label for="InputLogin" class="mt-2">Login</label>
                                <input type="text" class="form-control" id="InputLogin" placeholder="Login">
                                <label for="InputEmail" class="mt-2">Email</label>
                                <input type="email" class="form-control" id="InputEmail" placeholder="Email">
                                <label for="InputPassword" class="mt-2">Password</label>
                                <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                                <label for="RepeatPassword" class="mt-2">Repeat password</label>
                                <input type="password" class="form-control" id="RepeatPassword" placeholder="Password">
                                <label for="avatar" class="form-label mt-3">Choose a profile picture:</label>
                                <input class="form-control" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Регистрация</button>
                        </form>

{% endblock %}