{% extends 'layouts/base.html' %}

{% block content %}
                        <div class="" >
                            <form>
                                <div class = "form-group">
                                    <div class="alert alert-danger" role="alert">Во прикол! Ошибочка!</div>
                                    <label for="InputLogin" class="mt-2">Login</label>
                                    <input type="text" class="form-control" id="InputLogin" placeholder="Login">
                                    <label for="InputPassword" class="mt-2">Password</label>
                                    <input type="password" class="form-control mt-2" id="InputPassword" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary mt-2">Войти</button>
                            </form>
                            </div>

{% endblock %}

